<template>  
<div class= "logo">

<div> <menu1/> </div>
<div class="logo1">
  <div class="textlogo">
  <div class="text-logo1">TATJANA AGANITS</div>
  <div class="text-logo2">LIFESTYLE PHOTOGRAPHER</div>
  </div>
<img src ="./assets/pin1.png" class="mainpin" width ="100%" posstion ="relative"> 


  </div>
<div class="conteiner1">
    <div class="box1">
   <p style="margin-bottom: 0px; margin-top:0px">Привет! </p>
    Ты оказался на страничке фотографа. Когда дочитаешь до конца, захочешь со мной познакомиться и оказаться
    под прицелом моего объектива.Самонадеянно? Пожалуй
    </div>
    <div class="hover1">
     <div class="text1">
Но на это есть основания:
    
    </div>
    </div>
    <div class="conteiner2">
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
5 лет жизни с фотоапаратом в руках, которые точно растут не из *опы
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Целый арсенал профессиональной техники. И не с aliexpress
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Гигабайты фотографий, на которых есть жизнь и настоящие эмоции, а не вымученные позы.
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Острый взгяд и бездна вкуса.
</div>
</div>
</div>
<div class="text2">
   Я - ТАНЯ И Я - НЕСТАТИЧНЫЙ ФОТОГРАФ
    </div>
    <div id= "nav03">
    <div class="text3">
Фотографии - это свидетельство того, что мы есть.Фотографии показывают, какие мы. Моменты нашей жизни надо ПРОЖИВАТЬ
чувственно и с чувствами фиксировать. Поэтому, никаких постановок. У меня - все по настоящему!
</div>
    </div>
    <div id= "nav04">
    <div class="text4">
   Направление
   </div>
    </div>
    <div class="conteiner3">
<div class="box-1">
    <img src ="./assets/boxpic1.png" class="boxpic"> 
    <div class="textpic1"> Lifestyle  </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее  </div>
</div>
<div class="box-1">
  
  <img src ="./assets/boxpic2.png" class="boxpic"> 
  <div class="textpic1"> Портрет  </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее </div>
</div>
<div class="box-1">
  <img src ="./assets/boxpic2.png" class="boxpic"> 
  <div class="textpic1"> Семейная фотосессия </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее </div>
</div>
</div>
<div class="nav05">
<div class="direction">
   Видео
</div>
    </div>
<div class="conteiner4">
<div class="box-2">
    <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="textbox5"> Со мной актуально  </div>
<div class="textbox6">Репортажная сьемка - всегда на пике событий</div>

</div>
<div class="box-2">
  
   <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="textbox5"> Со мной выгодно  </div>
<div class="textbox6">Промо-ролик - сделаем рекламу ваших продуктов/услуг на зависть всем.</div>

</div>
<div class="box-2">
  <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="textbox5"> Со мной весело</div>
<div class="textbox6">Вайны - юмор спасет мир! Вместе снимаем, я монтирую, все смеються</div>

</div>

</div>

<div class="rules">  	© 2020 Все права защищены </div>
<img src ="./assets/pin4.png" id="bottom1" width="100%" height="50">
</div>


</template>
<script>
import menu1 from '@/components/menu1.vue'
export default {
name: 'app',
components: {
menu1
    }

}




</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Playfair+Display+SC&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Montserrat:wght@500&family=Playfair+Display+SC&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
.p{
    position: relative;
}
@media (min-width: 400px){
  
 
.box1{
  justify-content:center;
    text-align:center;
    background-color: white;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Playfair Display SC;
    font-size: 13px;
    margin-bottom: 0px;
color:black;
text-align: left;
height:120px;
width: 915px;
position: block;
box-shadow: -20px -20px 0px 1px  #e8d3c1;   
border-width:12px 20px 20px 25px black;
border-color: rgb(236, 233, 233) rgb(236, 235, 235); 
    border-style: solid; 
border-style:none solid solid none;
padding-bottom:1px;
left: 0;
right:0;
margin: 60px auto;
top:calc(50%-100px);
font-style: italic; 
line-height: 19px;

}

@media (max-width:1040px){
    .box1{

      width: 50%;
    }
}
.p{
  padding: 0px;
  margin:0px;
}
.text1{
   background-color:white;
 font-family: Playfair DisplaySC;
 font-size:15px;
 width: 226px;
 font-family: Playfair Display SC;
 margin-left: 50%;
}





a text1 {
  text-decoration: none;
  color:black;
  background-color: #fff;
}
a:hover {
background-color: #fff;
}

.text1:after {
content: '';
display: block;
width:0;
height:2px;
background: rgb(5, 5, 5);
transition: width .3s;
}
.text1:hover::after{
  width: 220px;
  transition: width .3s;
}

 .text2{
text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: bold;
font-weight: 400;
 padding-bottom: 20px;
 padding-top: 10px;
 width:20%;
 margin-left:45%;
 }

 .text2:after {
content: '';
display: block;
width:0;
height:2px;
background: rgb(5, 5, 5);
transition: width .3s;
}
.text2:hover::after{
  width: 95%;
  transition: width .3s;
}
 .text3{
   text-align: center;
 font-family:  Montserrat;
font-size: 15px;
  padding-bottom: 20px;
 padding-top: 10px;

 }
.text4{
text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
line-height: 24px;

font-weight: 400;
 padding-bottom: 20px;
 padding-top: 10px;
  width:160px;
 margin-left:49%;
}

.text4:after {
content: '';
display: block;
width:0;
height:2px;
background: rgb(5, 5, 5);
transition: width .3s;
}
.text4:hover::after{
  width: 162px;
  transition: width .3s;
}
 .textpic1 {
  text-align: left;
 font-family: Playfair Display;
 
 margin-bottom: 10px;
  font-size: 18px;
  padding: 0px;
  padding-left: 30px;

 }
 .textpic2 {
  text-align: left;
  padding-top: 25px;
 font-family: Montserrat;
   font-size: 18px;
      padding-left: 30px;
      width: 22%;
 
 }

.textpic2:after {
content: '';
display: block;
width:0;
height:2px;
background: rgb(5, 5, 5);
transition: width .3s;
}
.textpic2:hover::after{
  width: 110px;
  transition: width .3s;
}

 
 .conteiner2{
   display: flex;
   align-items: stretch;
   flex-direction: row;
   justify-content: space-around;

 }
 
.conteiner2 div{
  padding: 40px;
 
  
}
.box{
  
  
  text-align: center;
}


.star{
  padding-bottom: 20px;
  display: block;
  margin: auto;
}

.conteiner3{
   display: flex;
   align-items: stretch;
   flex-direction: row;
   justify-content: space-around;
   
    }
 
.conteiner3 div{
  margin-top:20px;
  flex-basis:28%;
  
  
}
.box-1{
  
  width: 20%;
  height:550px;
  text-align: left;
  border: 1px solid silver;
  padding-bottom:40px;
box-shadow: 1px 0px 3px 3px  #fafafa;   
border-width:1px 3px 10px 3px;
border-color:  rgb(236, 235, 235); 
    border-style: solid; 
border-style:solid solid solid solid;
  
}
.boxpic{
  width: 100%;
  display: top;
  margin-bottom:20px;

}
.boxpic:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.boxpic {
  transition: all 0.5s ease-in-out;
}
.textbox1{
  padding-left: 30px;
}

.textlogo {
  position: relative;
  
}



.textlogo{
  background-color:#e8d3c1 ;


}
.text-logo1 {
  font-family: Playfair Display;
  padding: 0;
   position:absolute;
    margin-left: 38%;
  text-align: center;
  font-size:36px;
  font-weight: normal;
  margin-top: 15%;
  background-color:#e8d3c1;
  height: 50px;
  width: 330px;
 

  }
  .text-logo2{
  padding: 0;
   font-family: Playfair Display;
   position:absolute;
    margin-left: 32.5%;
  text-align: center;
  margin-top: 17.5%;
  background-color:#e8d3c1;
  height: 48px;
  width: 518px;
  font-size:36px;
  }
  @media (max-width:1520px){
    .text-logo2{
      margin-top: 18%;
  }
  }

  @media (max-width:1484px){
    .text-logo2{
      margin-top: 18.5%;
      margin-left: 31.5%;
  }
  }
  @media (max-width:1218px){
    .text-logo2{
      margin-top:19.4%;
      margin-left: 30.5%;
  }
  }
   @media (max-width:1000px){
    .text-logo2{
      margin-top:20%;
      margin-left: 30%;
  }
  }
   @media (max-width:850px){
    .text-logo2{
      margin-top:20.3%;
      margin-left: 27%;
  }
  }
     @media (max-width:720px){
    .text-logo2{
      margin-top:20.7%;
      margin-left: 26;
  }
  }
    @media (max-width:700px){
      .text-logo1{
        margin-left: 31%;
      }
    .text-logo2{
      margin-top:22%;
      margin-left: 14%;
  }
    }
        @media (max-width:550px){
      .text-logo1{
        margin-left: 25%;
      }
    .text-logo2{
      margin-top:24%;
      margin-left: 1%;
  }
    }
 .conteiner4{
   
   padding-top:20px;
   display: flex;
   align-items: stretch;
   flex-direction: row;
   justify-content: space-around;
   float: bottom;
   background-color: #E8D3C1;
   
    }

.conteiner4 div{
  margin-top:20px;
  flex-basis:29%;
  
  
}
.box-2{
  
  width: 40%;
  height:500px;
  text-align: left;
  border: 1px solid silver;
  background-color: white;

  
}
.boxpic{
  width: 100%;
  display: top;
  margin-bottom:20px;

}

.textbox1{
  padding-left: 30px;
}
.rules{
  padding: 20px;
  background:#E8D3C1;
  text-align: center;
}
.textbox5{
  font-family: Playfair Display;
  font-size:15px;
  padding-top: 70px;
text-align: left;
padding-left: 20px;

}
.textbox6{
  text-align: left;
padding-left: 20px;
font-family:  Montserrat;
font-size: 15px;
}
.direction{
  padding:30px;
  margin-top:30px;
  background-color:#E8D3C1 ;
  text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: normal;
  font-size: 25px;
line-height: 24px;
width: 110px;
padding-left: 49%;
}
.nav05{
  background-color: #E8D3C1;
}
.direction:after {
content: '';
display: block;
width:0;
height:2px;
background: rgb(5, 5, 5);
transition: width .3s;
}
.direction:hover::after{
  width: 110px;
  transition: width .3s;
}



}
</style>
