<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>
    <meta name="viewport" content="width=1170">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
     @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
      .body{
        min-width:1200px;
      }
      </style>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
     
     
      </script>
  </head>
  <body>

    
    <div id ="app">
      <nav>
      <transition name="fade" mode ="out-in">
      <i class= "material-icons menu" v-if="!show" @click ="show= !show" key="menu">menu</i>
      <clear class="material-icons clear" v-else @click ="show= !show" key="clear"> clear</i>
      </transition>
      <transtion name="fade">
        <ul v-if ="show">

          <li v-for = "item in items">{{ item }}</li>
         </ul>
         </transtion>
      </nav>
      
      </div>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
