<template>
 <div class="wrapper">
 


        <input type="checkbox" id="check-menu">
        <label for="check-menu"></label>
      
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
        <nav class="main-menu">
            
            <a href="">Главная</a>
            <a href="#nav03">Обо мне</a>
            <a href="#nav04">Направления</a>
            <a href="#nav05">Видео</a>
            <a href="#bottom1">Контакты</a>
        </nav>
 
 
    </div>

 </template>

<style>
    

.wrapper{
    position: fixed;
    
    max-width: 1920px;
    margin: 10px auto;
    width: 100%;
    background-color:white;
    position: relative;
    color: #333333;
    text-align: center;
    height: 40px;
    font-family: 'Arial';
}

#check-menu{
    display: none;
}

label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #333333;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}

.main-menu{
    display:block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    
}

a{
    display: block;
    width: 100%;
    padding: 10px;
    color:#333333;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #e8d3c1;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a:hover{
    background-color:#333333;
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}
</style>





<script>


</script>