<template>  
<div class= "logo">

<div> <menu1/> </div>
<div class="logo1">
  <div class="textlogo">
  <div class="text-logo1">TATJANA AGANITS</div>
  <div class="text-logo2">LIFESTYLE PHOTOGRAPHER</div>
  </div>
<img src ="./assets/pin1.png" class="mainpin" width ="100%"> 


  </div>
<div class="conteiner1">
    <div class="box1">
   <p>Привет. </p>
    Ты оказался на страничке фотографа. Когда дочитаешь до конца, захочешь со мной познакомиться и оказаться
    под прицелом моего объектива.Самонадеянно? Пожалуй
    </div>
    <div class="text1">
Но на это есть основания:
    </div>
    <div class="conteiner2">
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
5 лет жизни с фотоапаратом в руках, которые точно растут не из *опы
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Целый арсенал профессиональной техники. И не с aliexpress
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Гигабайты фотографий, на которых есть жизнь и настоящие эмоции, а не вымученные позы.
</div>
<div class="box">
  <img src ="./assets/pin3.png" class="star"> 
Острый взгяд и бездна вкуса.
</div>
</div>
</div>
<div class="text2">
   Я - ТАНЯ И Я - НЕСТАТИЧНЫЙ ФОТОГРАФ
    </div>
    <div id= "nav03">
    <div class="text3">
Фотографии - это свидетельство того, что мы есть.Фотографии показывают, какие мы. Моменты нашей жизни надо ПРОЖИВАТЬ
чувственно и с чувствами фиксировать. Поэтому, никаких постановок. У меня - все по настоящему!
</div>
    </div>
    <div id= "nav04">
    <div class="text4">
   Направление
   </div>
    </div>
    <div class="conteiner3">
<div class="box-1">
    <img src ="./assets/boxpic1.png" class="boxpic"> 
    <div class="textpic1"> Lifestyle  </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее  </div>
</div>
<div class="box-1">
  
  <img src ="./assets/boxpic2.png" class="boxpic"> 
  <div class="textpic1"> Портрет  </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее </div>
</div>
<div class="box-1">
  <img src ="./assets/boxpic2.png" class="boxpic"> 
  <div class="textpic1"> Семейная фотосессия </div>
<div class="textbox1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
<div class="textpic2"> Подробнее </div>
</div>
</div>
<div id="nav05">
<div class="direction">
   Видео
</div>
    </div>
<div class="conteiner4">
<div class="box-2">
    <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="textbox5"> Со мной актуально  </div>
<div class="textbox6">Репортажная сьемка - всегда на пике событий</div>

</div>
<div class="box-2">
  
   <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="textbox5"> Со мной выгодно  </div>
<div class="textbox6">Промо-ролик - сделаем рекламу ваших продуктов/услуг на зависть всем.</div>

</div>
<div class="box-2">
  <iframe width="100%" height="55%" src="https://www.youtube.com/embed/14yOawLavB0" frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; 
  gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="textbox5"> Со мной весело</div>
<div class="textbox6">Вайны - юмор спасет мир! Вместе снимаем, я монтирую, все смеються</div>

</div>

</div>

<div class="rules">  	© 2020 Все права защищены </div>
<img src ="./assets/pin4.png" id="bottom1" width="100%" height="50">
</div>


</template>
<script>
import menu1 from '@/components/menu1.vue'
export default {
name: 'app',
components: {
menu1
    }

}




</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Playfair+Display+SC&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Montserrat:wght@500&family=Playfair+Display+SC&family=Playfair+Display:wght@600&display=swap');
.p{
    position: relative;
}
@media (min-width: 320px){
  
 
.box1{
  justify-content:center;
    align-items:center;
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
color:black;
text-align: left;
height:148px;
width: 70%;
position: block;
box-shadow: 0px 4px 4px 0px   #000;
border-width:25px 0px 0px 25px;
border-style:solid none none solid;
border-color: #e8d3c1;
left: 0;
right:0;
margin: 60px auto;

top:calc(50%-100px);
font-style: italic; 
  
}
.text1{
  text-align: center;
 font-family:  Helvetica, sans-serif;
 font-weight: 300;
}
 .text2{
text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: bold;
font-weight: 400;
 padding-bottom: 20px;
 padding-top: 10px;

 }
 .text3{
   text-align: center;
 font-family:  Montserrat;
font-size: 15px;
  padding-bottom: 20px;
 padding-top: 10px;

 }
.text4{
text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
line-height: 24px;

font-weight: 400;
 padding-bottom: 20px;
 padding-top: 10px;
 
}
 .textpic1 {
  text-align: left;
 font-family: Playfair Display;
 
 margin-bottom: 10px;
  font-size: 18px;
  padding: 0px;
  padding-left: 30px;

 }
 .textpic2 {
  text-align: left;
  padding-top: 60px;
 font-family: Montserrat;
   font-size: 18px;
   text-decoration:underline;
   padding-left: 30px;
  
 }
 .conteiner2{
   display: flex;
   align-items: stretch;
   flex-direction: row;
   

 }
 
.conteiner2 div{
  padding: 50px;
  flex-basis:20%;
  
}
.box{
  
  width: 20%;
  text-align: center;
}


.star{
  padding-bottom: 20px;
  display: block;
  margin: auto;
}

.conteiner3{
   display: flex;
   align-items: stretch;
   flex-direction: row;
   justify-content: space-around;
   
    }
 
.conteiner3 div{
  margin-top:20px;
  flex-basis:20%;
  
  
}
.box-1{
  
  width: 20%;
  height:550px;
  text-align: left;
  border: 1px solid silver;

  
}
.boxpic{
  width: 100%;
  display: top;
  margin-bottom:20px;

}
.boxpic:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.boxpic {
  transition: all 1s ease-in-out;
}
.textbox1{
  padding-left: 30px;
}

.textlogo{
  background-color:#e8d3c1 ;

}
.text-logo1 {
  font-family: Playfair Display;
   position:absolute;
    margin-left: 40%;
  text-align: center;
  font-size:27px;
  margin-top: 16%;
  background-color:#e8d3c1;
  height: 50px;
  width: 300px;
  
  }
  .text-logo2{
   font-family: Playfair Display;
   position:absolute;
    margin-left: 38%;
  text-align: center;
  margin-top: 18%;
  background-color:#e8d3c1;
  height: 50px;
  width: 380px;
  font-size:27px;
  
  }
  
 .conteiner4{
   
   padding-top:50px;
   display: flex;
   align-items: stretch;
   flex-direction: row;
   justify-content: space-around;
   float: bottom;
   background-color: #E8D3C1;
   
    }

.conteiner4 div{
  margin-top:20px;
  flex-basis:20%;
  
  
}
.box-2{
  
  width: 20%;
  height:550px;
  text-align: left;
  border: 1px solid silver;
  background-color: white;

  
}
.boxpic{
  width: 100%;
  display: top;
  margin-bottom:20px;

}

.textbox1{
  padding-left: 30px;
}
.rules{
  padding: 20px;
  background:#E8D3C1;
  text-align: center;
}
.textbox5{
  font-family: Playfair Display;
  font-size:15px;
  padding-top: 70px;
text-align: left;
padding-left: 20px;

}
.textbox6{
  text-align: left;
padding-left: 20px;
font-family:  Montserrat;
font-size: 15px;
}
.direction{
  padding:30px;
  margin-top:30px;
  background-color:#E8D3C1 ;
  text-align: center;
 font-family: Playfair Display;
 font-style: normal;
 font-weight: normal;
 
 font-size: 18px;
line-height: 24px;
}
}
</style>
